In [1]:
i = 0
while i <= 15:
    if i % 2 == 0:
        print(i)
    i = i + 1

0
2
4
6
8
10
12
14

In [4]:
name,age,year="leader", 19 , "2005"
print(name)
print(age)
print(year)

leader
19
2005

In [6]:
i = 0
while i <= 15:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [8]:
i = 0
sum = 0
while i <= 15:
    sum = sum + i
    i = i + 1
print(sum)

120

In [10]:
i = 0
while i <= 15:
    if i % 2 != 0:
        print(i)
    i = i + 1

1
3
5
7
9
11
13
15

In [11]:
i = 0
while i <= 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

In [14]:
i = 0
sum = 0
while i <= 15:
    if i % 2 == 1:
        sum = sum + i
    i = i + 1
print(sum)

64

In [15]:
color=["pink", "red", "blue"]

print(color)

['pink', 'red', 'blue']

In [3]:
i = 0
for i in range(4): 
    i = i + 1
print(i)

4

In [1]:
world = ["Cambodia", "Thai land", "China"]
print(world)

['Cambodia', 'Thai land', 'China']

In [7]:
world = ["Cambodia", "Thai land", "China"]
print(world[-1])

China

In [8]:
world = ["Cambodia", "Thai land", "China"]
print("red" in world)

False

In [9]:
world = ["Cambodia", "Thai land", "China"]
world[0]= "USA"
world[1]= "UK"
print(world)

['USA', 'UK', 'China']